<section class='content-section'>
  <header class='profile-header'>
    <img src='../../images/{{user.Profile.gender}}.jpg' alt='Profile Image'/>
    <div class='profile-header-content'>
      <h3>{{user.username}}</h3>
      <p>{{user.Profile.age}} years old, lives in {{user.Profile.Location.city}}</p>
    </div>
  </header>
  <div class='profile-main-content'>
    <article>
      <h4>About Me</h4>
      <p>{{user.Profile.about}}</p>

      <h4>Talents</h4>
      <p>{{user.Profile.talents}}</p>

      <h4>Favorite Things</h4>
      <p>{{user.Profile.favThings}}</p>

      <h4>Why You Should Message Me</h4>
      <p>{{user.Profile.whyMe}}</p>
    </article>
    <aside>
      <h4>Basic Info</h4>
      <ul>
        <li>Gender: {{user.Profile.gender}}</li>
        <li>Marital Status: {{user.Profile.maritalStatus}}</li>
        <li>Height: {{user.Profile.height}} ft.</li>
        <li>Body Type: {{user.Profile.bodyType}}</li>
        <li>Has Children: {{user.Profile.children}}</li>
        <li>Occupation: {{user.Profile.occupation}}</li>
      </ul>
    </aside>
  </div>
  <div class='message'>
    <a href='#'><span id='message-button'>Message Me</span></a>
  </div>
</section>
